<div class="browser-window" style="margin-top:0px">
    <div class="top-bar valign-wrapper">
        <div class="circles valign-wrapper">
            <a class=" cyan-text" href="javascript:void(0)" >
               Auctions
            </a>
        </div>
    </div>
    <div class="content contenttable">
        <table id="data-table-auction" class="display dataTable" cellspacing="0">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Start End</th>
                    <th>Grade</th>
                    <th>Estate</th>
                    <th>Lot</th>
                    <th>Last Price</th>
                    <th>Curr</th>
                    <th>Winner</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Date</td>
                    <td>Start End</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Lot</td>
                    <td>Last Price</td>
                    <td>Curr</td>
                    <td>Winner</td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="top-bar valign-wrapper" style="margin-top: 10px">
        <div class="circles valign-wrapper">
            <a class=" cyan-text" href="javascript:void(0)" >
               Bids
            </a>
        </div>
    </div>
    <div class="content contenttable">
        <table id="data-table-auction-bids" class="display dataTable" cellspacing="0">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>User Id</th>
                    <th>Price</th>
                    <th>Curr</th>
                    <th>Winner</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Date</td>
                    <td>User Id</td>
                    <td>Price</td>
                    <td>Curr</td>
                    <td>Winner</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<script>
    $(document).ready(function(){
         $('#data-table-auction').DataTable({
            "scrollY"       : "350px",
            "scrollX"       : true,
            "searching"     : false,
            "bInfo"         : false,
            "scrollCollapse": true,
            "paging"        : false
        });
        $('#data-table-auction-bids').DataTable({
            "scrollY"       : "350px",
            "scrollX"       : true,
            "searching"     : false,
            "bInfo"         : false,
            "scrollCollapse": true,
            "paging"        : false
        });
      })
</script>
