<!--<style>
    .modal{height: 100%!important;width:100%!important }
</style>-->

<div class="row">
    <div class="input-field col s12 m3 l3 small">       
        <input id="icon_prefix" type="date" class="validate datepicker"/>
        <label for="icon_prefix">Auction Date</label>
    </div>
    <div class="input-field col s12 m3 l3 small">    
        <select class="browser-default">
            <option value="" disabled="" selected="">Session</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>

    </div>
    <div class="input-field col s12 m3 l3 small">        
        <input id="icon_prefix" type="text" class="validate"/>
        <label for="icon_password">Weight Gross</label>
    </div>
     <div class="input-field col s12 m3 l3 small">        
        <input id="icon_prefix" type="text" class="validate"/>
        <label for="icon_password">Weight Net</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12 m3 l3 small">        
        <input id="icon_prefix" type="text" class="validate"/>
        <label for="icon_password">Warehouse Receipt No</label>

    </div>
    <div class="input-field col s12 m3 l3 small">
        <button class="btn waves-effect waves-light light-green darken-4 left" type="button" name="action">Find</button>
    </div>
     <div class="input-field col s12 m3 l3 small">        
        <input id="icon_prefix" type="number" class="validate"/>
        <label for="icon_password">Start Price</label>
    </div>
     <div class="input-field col s12 m3 l3 small">
        <input id="icon_prefix" type="number" class="validate"/>
        <label for="icon_password">Product Grade</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12 m3 l3  small">        
        <span>Date Payment: &nbsp;&nbsp;&nbsp;&nbsp;</span><span> 2017-09-09 </span>
    </div>
    <div class="input-field col s12 m3 l3 small">        
        <input id="icon_prefix" type="number" class="validate"/>
        <label for="icon_password">Estate</label>
    </div>
    <div class="input-field col s12 m3 l3 small">
        <span>Auction Mechanism: </span><span>All or None</span>
    </div>
    <div class="input-field col s12 m3 l3 small">        
        <input id="icon_prefix" type="text" class="validate"/>
        <label for="icon_password">Chop ID</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12 m3 l3 small">        
        <input id="icon_prefix" type="text" class="validate"/>
        <label for="icon_password">Warehouse Name</label>
    </div>
    <div class="input-field col s12 m3 l3 small">        
        <input id="icon_prefix" type="text" class="validate"/>
        <label for="icon_password">Remarks</label>
    </div>
    <div class="input-field col s12 m3 l3 small">        
        <input id="icon_prefix" type="text" class="validate"/>
        <label for="icon_password">Volume</label>
    </div>
    <div class="input-field col s12 m3 l3 small">        
        <input id="icon_prefix" type="text" class="validate"/>
        <label for="icon_password">Package</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12 m3 l3 small">        
        <a class="waves-effect waves-light light-green darken-4 btn white-text">New</a>
    </div>
    <div class="input-field col s12 m3 l3 small">        
        <a class="waves-effect waves-light  light-green darken-4 btn white-text">Save</a>
    </div>
    <div class="input-field col s12 m3 l3 small">        
        <a class="waves-effect waves-light light-green darken-4  btn white-text">Delete</a>
    </div>
    
</div>

 <div class="browser-window" style="margin-top:0px">
    <div class="top-bar valign-wrapper">
        <div class="circles valign-wrapper">
            <a class=" cyan-text" href="javascript:void(0)" >
               List Of Auction
            </a>
        </div>
    </div>
    <div class="content contenttable">
        <table id="data-table-create-auction" class="display dataTable" cellspacing="0">
            <thead>
                <tr>
                    <th>Date Nego</th>
                    <th>Date Deliver</th>
                    <th>Seller</th>
                    <th>Buyer</th>
                    <th>Nego ID</th>
                    <th>B/S</th>
                    <th>Grade</th>
                    <th>Estate</th>
                    <th>Vol(Kg)</th>
                    <th>Price</th>
                    <th>Curr</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<script>
$(document).ready(function(){
         $('#data-table-create-auction').DataTable({
            "scrollY"       : "200px",
            "scrollX"       : true,
            "searching"     : false,
            "bInfo"         : false,
            "scrollCollapse": true,
            "paging"        : false
        });
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15,
            closeOnSelect: true,
            //editable: true// Creates a dropdown of 15 years to control year
        });
      });
</script>
