<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="msapplication-tap-highlight" content="no"/>
        <title>Home</title>

        <!-- Favicons-->
        <link rel="icon" th:href="@{/materialize/images/favicon/favicon-32x32.png}" href="images/favicon/favicon-32x32.png" sizes="32x32"/>
        <!-- Favicons-->
        <link rel="apple-touch-icon-precomposed" th:href="@{/materialize/images/favicon/apple-touch-icon-152x152.png}" href="images/favicon/apple-touch-icon-152x152.png"/>
        <!-- For iPhone -->
        <meta name="msapplication-TileColor" content="#00bcd4"/>
        <meta name="msapplication-TileImage" th:href="@{/materialize/images/favicon/mstile-144x144.png}" content="images/favicon/mstile-144x144.png"/>
        <!-- For Windows Phone -->


        <!-- CORE CSS-->    
        <link th:href="@{/materialize/css/materialize.css}" href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link th:href="@{/materialize/css/style.css}"  href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <!-- Custome CSS-->    
        <link th:href="@{/materialize/css/custom-style.css}" href="css/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection"/>    
        <!-- CSS style Horizontal Nav (Layout 03)-->    
        <link th:href="@{/materialize/css/style-horizontal.css}" href="css/style-horizontal.css" type="text/css" rel="stylesheet" media="screen,projection"/>

        <link th:href="@{/materialize/js/plugins/data-tables/css/jquery.dataTables.min.css}" href="js/plugins/data-tables/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>

        <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
        <link th:href="@{/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.css}" href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link th:href="@{/materialize/js/plugins/jvectormap/jquery-jvectormap.css}" href="js/plugins/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link th:href="@{/materialize/js/plugins/chartist-js/chartist.min.css}" href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>


    </head>

    <body>
     
        <div id="loader-wrapper">
            <div id="loader"></div>        
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
       
        <header id="header" class="page-topbar">
            <!-- start header nav-->
            <div class="navbar-fixed">
                <nav class="light-green darken-1">
                    <div class="nav-wrapper">                    

                        <ul class="left">
                            <li class="no-hover"><a href="#" data-activates="slide-out" class="menu-sidebar-collapse btn-floating btn-flat btn-medium waves-effect waves-light lime darken-3 hide-on-large-only"><i class="mdi-navigation-menu" ></i></a></li>
                            <li><h1 class="logo-wrapper"><a href="home1.html" class="brand-logo darken-1"><img src="materialize/images/materialize-logo.png" alt="materialize logo"/></a> <span class="logo-text">Materialize</span></h1></li>
                        </ul>
                        <div class="header-search-wrapper hide-on-med-and-down">
                      </div>
                        <ul class="right hide-on-med-and-down">
                            <li>
                                <a class="dropdown-menu waves-effect waves-block waves-light  " href="#!" data-activates="Usersdropdown1">
                                    <i class="mdi-action-account-circle"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

             
                <nav id="horizontal-nav" class="white hide-on-med-and-down">
                    <div class="nav-wrapper">                  
                        <ul id="nav-mobile" class="left hide-on-med-and-down">                    
                            <li>
                                <a class="dropdown-menu cyan-text" href="#!" data-activates="CSSdropdown">
                                    <i class="mdi-maps-store-mall-directory"></i>
                                    <span>Market Info<i class="mdi-navigation-arrow-drop-down right"></i></span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-menu cyan-text" href="#!" data-activates="UIElementsdropdown">
                                    <i class="mdi-social-people"></i>
                                    <span>Initiator<i class="mdi-navigation-arrow-drop-down right"></i></span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-menu cyan-text" href="#!" data-activates="Tablesdropdown">
                                    <i class="mdi-social-people-outline"></i>
                                    <span>Participant<i class="mdi-navigation-arrow-drop-down right"></i></span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-menu cyan-text" href="#!">
                                    <i class="mdi-communication-phone"></i>
                                    <span>Contact Us</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </nav>

                <!-- CSSdropdown -->
                <ul id="CSSdropdown" class="dropdown-content dropdown-horizontal-list">
                    <li><a href="css-typography.html" class="cyan-text">Typography</a></li>
                    <li><a href="css-icons.html" class="cyan-text">Icons</a></li>                  
                    <li><a href="css-shadow.html" class="cyan-text">Shadow</a></li>
                    <li><a href="css-media.html" class="cyan-text">Media</a></li>                  
                    <li><a href="css-sass.html" class="cyan-text">Sass</a></li>
                </ul>

                <!-- UIElementsdropdown-->
                <ul id="UIElementsdropdown" class="dropdown-content dropdown-horizontal-list">
                    <li><a href="ui-buttons.html" class="cyan-text">Buttons</a></li>
                    <li><a href="ui-badges.html" class="cyan-text">Badges</a></li>                  
                    <li><a href="ui-cards.html" class="cyan-text">Cards</a></li>
                    <li><a href="ui-collections.html" class="cyan-text">Collections</a></li>                  
                    <li><a href="ui-accordions.html" class="cyan-text">Accordian</a></li>
                    <li><a href="ui-navbar.html" class="cyan-text">Navbar</a></li>
                    <li><a href="ui-pagination.html" class="cyan-text">Pagination</a></li>
                    <li><a href="ui-preloader.html" class="cyan-text">Preloader</a></li>
                    <li><a href="ui-modals.html" class="cyan-text">Modals</a></li>
                    <li><a href="ui-media.html" class="cyan-text">Media</a></li>
                    <li><a href="ui-toasts.html" class="cyan-text">Toasts</a></li>
                    <li><a href="ui-tooltip.html" class="cyan-text">Tooltip</a></li>
                </ul>

                <!-- Tablesdropdown -->
                <ul id="Tablesdropdown" class="dropdown-content dropdown-horizontal-list">
                    <li><a href="table-basic.html" class="cyan-text">Basic Tables</a></li>
                    <li><a href="table-data.html" class="cyan-text">Data Tables</a></li>
                </ul>

                <!-- Formsdropdown -->
                <ul id="Formsdropdown" class="dropdown-content dropdown-horizontal-list">
                    <li><a href="form-elements.html" class="cyan-text">Form Elements</a></li>
                    <li><a href="form-layouts.html" class="cyan-text">Form Layouts</a></li>
                </ul>


                <!-- Usersdropdown -->
                <ul id="Usersdropdown1" class="dropdown-content dropdown-horizontal-list">
                    <li><a href="user-profile-page.html"  class="cyan-text">User Profile</a></li>
                    <li><a href="user-login.html"  class="cyan-text">Logout</a></li>
                </ul>


                <!-- Chartsdropdown -->
                <ul id="Chartsdropdown" class="dropdown-content dropdown-horizontal-list">
                    <li><a href="charts-chartjs.html" class="cyan-text">Chart JS</a></li>
                    <li><a href="charts-chartist.html" class="cyan-text">Chartist</a></li>
                    <li><a href="charts-morris.html" class="cyan-text">Morris Charts</a></li>
                    <li><a href="charts-xcharts.html" class="cyan-text">xCharts</a></li>
                    <li><a href="charts-flotcharts.html" class="cyan-text">Flot Charts</a></li>
                    <li><a href="charts-sparklines.html" class="cyan-text">Sparkline Charts</a></li>
                </ul>
                <!-- HORIZONTL NAV END-->

            </div>
            <!-- end header nav-->
        </header>
        <!-- END HEADER -->

        <!-- //////////////////////////////////////////////////////////////////////////// -->

        <!-- START MAIN -->
        <div id="main">
            <!-- START WRAPPER -->
            <div class="wrapper">

                <!-- START LEFT SIDEBAR NAV-->
                <aside id="left-sidebar-nav hide-on-large-only">
                    <ul id="slide-out" class="side-nav leftside-navigation ">
                        <li class="user-details cyan darken-2">
                            <div class="row">
                                <div class="col col s4 m4 l4">
                                    <img src="materialize/images/avatar.jpg" alt="" class="circle responsive-img valign profile-image"/>
                                </div>
                                <div class="col col s8 m8 l8">
                                    <ul id="profile-dropdown" class="dropdown-content">
                                        <li><a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
                                        </li>
                                        <li><a href="#"><i class="mdi-action-settings"></i> Settings</a>
                                        </li>
                                        <li><a href="#"><i class="mdi-communication-live-help"></i> Help</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
                                        </li>
                                        <li><a href="#"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                                        </li>
                                    </ul>
                                    <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">John Doe<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                    <p class="user-roal">Administrator</p>
                                </div>
                            </div>
                        </li>
                        <li class="bold active"><a href="home1.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
                        </li>
                        <li class="bold"><a href="app-email.html" class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> Mailbox <span class="new badge">4</span></a>
                        </li>
                        <li class="bold"><a href="app-calendar.html" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Calender</a>
                        </li>
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-invert-colors"></i> CSS</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="css-typography.html">Typography</a>
                                            </li>                                        
                                            <li><a href="css-icons.html">Icons</a>
                                            </li>
                                            <li><a href="css-shadow.html">Shadow</a>
                                            </li>
                                            <li><a href="css-media.html">Media</a>
                                            </li>
                                            <li><a href="css-sass.html">Sass</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-image-palette"></i> UI Elements</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="ui-buttons.html">Buttons</a>
                                            </li>
                                            <li><a href="ui-badges.html">Badges</a>
                                            </li>
                                            <li><a href="ui-cards.html">Cards</a>
                                            </li>
                                            <li><a href="ui-collections.html">Collections</a>
                                            </li>
                                            <li><a href="ui-accordions.html">Accordian</a>
                                            </li>
                                            <li><a href="ui-tabs.html">Tabs</a>
                                            </li>
                                            <li><a href="ui-navbar.html">Navbar</a>
                                            </li>
                                            <li><a href="ui-pagination.html">Pagination</a>
                                            </li>
                                            <li><a href="ui-preloader.html">Preloader</a>
                                            </li>
                                            <li><a href="ui-modals.html">Modals</a>
                                            </li>
                                            <li><a href="ui-media.html">Media</a>
                                            </li>
                                            <li><a href="ui-toasts.html">Toasts</a>
                                            </li>
                                            <li><a href="ui-tooltip.html">Tooltip</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="bold"><a href="app-widget.html" class="waves-effect waves-cyan"><i class="mdi-device-now-widgets"></i> Widgets <span class="new badge"></span></a>
                                </li>
                                <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-editor-border-all"></i> Tables</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="table-basic.html">Basic Tables</a>
                                            </li>
                                            <li><a href="table-data.html">Data Tables</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-editor-insert-comment"></i> Forms</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="form-elements.html">Form Elements</a>
                                            </li>
                                            <li><a href="form-layouts.html">Form Layouts</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-social-pages"></i> Pages</a>
                                    <div class="collapsible-body">
                                        <ul>                                        
                                            <li><a href="page-contact.html">Contact Page</a>
                                            </li>
                                            <li><a href="page-todo.html">ToDos</a>
                                            </li>
                                            <li><a href="page-blog-1.html">Blog Type 1</a>
                                            </li>
                                            <li><a href="page-blog-2.html">Blog Type 2</a>
                                            </li>
                                            <li><a href="page-404.html">404</a>
                                            </li>
                                            <li><a href="page-500.html">500</a>
                                            </li>
                                            <li><a href="page-blank.html">Blank</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-action-shopping-cart"></i> eCommers</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="eCommerce-products-page.html">Products Page</a>
                                            </li>                                        
                                            <li><a href="eCommerce-pricing.html">Pricing Table</a>
                                            </li>
                                            <li><a href="eCommerce-invoice.html">Invoice</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-image-image"></i> Medias</a>
                                    <div class="collapsible-body">
                                        <ul>                                        
                                            <li><a href="media-gallary-page.html">Gallery Page</a>
                                            </li>
                                            <li><a href="media-hover-effects.html">Image Hover Effects</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-action-account-circle"></i> User</a>
                                    <div class="collapsible-body">
                                        <ul>     
                                            <li><a href="user-profile-page.html">User Profile</a>
                                            </li>                                   
                                            <li><a href="user-login.html">Login</a>
                                            </li>                                        
                                            <li><a href="user-register.html">Register</a>
                                            </li>
                                            <li><a href="user-forgot-password.html">Forgot Password</a>
                                            </li>
                                            <li><a href="user-lock-screen.html">Lock Screen</a>
                                            </li>                                        
                                            <li><a href="user-session-time-out.html">Session Timeout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-editor-insert-chart"></i> Charts</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="charts-chartjs.html">Chart JS</a>
                                            </li>
                                            <li><a href="charts-chartist.html">Chartist</a>
                                            </li>
                                            <li><a href="charts-morris.html">Morris Charts</a>
                                            </li>
                                            <li><a href="charts-xcharts.html">xCharts</a>
                                            </li>
                                            <li><a href="charts-flotcharts.html">Flot Charts</a>
                                            </li>
                                            <li><a href="charts-sparklines.html">Sparkline Charts</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="li-hover"><div class="divider"></div></li>
                        <li class="li-hover"><p class="ultra-small margin more-text">MORE</p></li>
                        <li><a href="css-grid.html"><i class="mdi-image-grid-on"></i> Grid</a>
                        </li>
                        <li><a href="css-color.html"><i class="mdi-editor-format-color-fill"></i> Color</a>
                        </li>
                        <li><a href="css-helpers.html"><i class="mdi-communication-live-help"></i> Helpers</a>
                        </li>
                        <li><a href="changelogs.html"><i class="mdi-action-swap-vert-circle"></i> Changelogs</a>
                        </li>                    
                        <li class="li-hover"><div class="divider"></div></li>
                        <li class="li-hover"><p class="ultra-small margin more-text">Daily Sales</p></li>
                        <li class="li-hover">
                            <div class="row">
                                <div class="col s12 m12 l12">
                                    <div class="sample-chart-wrapper">                            
                                        <div class="ct-chart ct-golden-section" id="ct2-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
                </aside>
                <!-- END LEFT SIDEBAR NAV-->

                <!-- //////////////////////////////////////////////////////////////////////////// -->

                <!-- START CONTENT -->
                <section id="content">

                    <!--start container-->
                    <div class="container">
                        <div class="row">
                           
                            <div class="col s12 m9 l9">
                                <div class="browser-window">
                                    <div class="top-bar valign-wrapper">
                                        <div class="circles">
                                            <a class=" cyan-text" href="javascript:void(0)" >
                                                <i class="mdi-action-stars"></i>
                                            </a>
                                            <a class=" cyan-text" href="javascript:void(0)" >
                                                Open Auctions
                                            </a>
                                        </div>
                                    </div>
                                    <div class="content">

                                        <table id="data-table-simple3" class="display dataTable" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Seller</th>
                                                    <th>Status</th>
                                                    <th>Auction ID</th>
                                                    <th>Date</th>
                                                    <th>Start</th>
                                                    <th>End</th>
                                                    <th>Grade</th>
                                                    <th>Estate</th>
                                                    <th>Chop</th>
                                                    <th>Start Price</th>
                                                    <th>Curr</th>
                                                    <th>Bid</th>
                                                    <th>Last Price</th>
                                                    <th>Buyer</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Auction ID</td>
                                                    <td>Date</td>
                                                    <td>Start</td>
                                                    <td>End</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Chop</td>
                                                    <td>Start Price</td>
                                                    <td>Curr</td>
                                                    <td>Bid</td>
                                                    <td>Last Price</td>
                                                    <td>Buyer</td>
                                                </tr>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Auction ID</td>
                                                    <td>Date</td>
                                                    <td>Start</td>
                                                    <td>End</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Chop</td>
                                                    <td>Start Price</td>
                                                    <td>Curr</td>
                                                    <td>Bid</td>
                                                    <td>Last Price</td>
                                                    <td>Buyer</td>
                                                </tr>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Auction ID</td>
                                                    <td>Date</td>
                                                    <td>Start</td>
                                                    <td>End</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Chop</td>
                                                    <td>Start Price</td>
                                                    <td>Curr</td>
                                                    <td>Bid</td>
                                                    <td>Last Price</td>
                                                    <td>Buyer</td>
                                                </tr>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Auction ID</td>
                                                    <td>Date</td>
                                                    <td>Start</td>
                                                    <td>End</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Chop</td>
                                                    <td>Start Price</td>
                                                    <td>Curr</td>
                                                    <td>Bid</td>
                                                    <td>Last Price</td>
                                                    <td>Buyer</td>
                                                </tr>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Auction ID</td>
                                                    <td>Date</td>
                                                    <td>Start</td>
                                                    <td>End</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Chop</td>
                                                    <td>Start Price</td>
                                                    <td>Curr</td>
                                                    <td>Bid</td>
                                                    <td>Last Price</td>
                                                    <td>Buyer</td>
                                                </tr>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Auction ID</td>
                                                    <td>Date</td>
                                                    <td>Start</td>
                                                    <td>End</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Chop</td>
                                                    <td>Start Price</td>
                                                    <td>Curr</td>
                                                    <td>Bid</td>
                                                    <td>Last Price</td>
                                                    <td>Buyer</td>
                                                </tr>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Auction ID</td>
                                                    <td>Date</td>
                                                    <td>Start</td>
                                                    <td>End</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Chop</td>
                                                    <td>Start Price</td>
                                                    <td>Curr</td>
                                                    <td>Bid</td>
                                                    <td>Last Price</td>
                                                    <td>Buyer</td>
                                                </tr>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Auction ID</td>
                                                    <td>Date</td>
                                                    <td>Start</td>
                                                    <td>End</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Chop</td>
                                                    <td>Start Price</td>
                                                    <td>Curr</td>
                                                    <td>Bid</td>
                                                    <td>Last Price</td>
                                                    <td>Buyer</td>
                                                </tr>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Auction ID</td>
                                                    <td>Date</td>
                                                    <td>Start</td>
                                                    <td>End</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Chop</td>
                                                    <td>Start Price</td>
                                                    <td>Curr</td>
                                                    <td>Bid</td>
                                                    <td>Last Price</td>
                                                    <td>Buyer</td>
                                                </tr>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Auction ID</td>
                                                    <td>Date</td>
                                                    <td>Start</td>
                                                    <td>End</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Chop</td>
                                                    <td>Start Price</td>
                                                    <td>Curr</td>
                                                    <td>Bid</td>
                                                    <td>Last Price</td>
                                                    <td>Buyer</td>
                                                </tr><tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Auction ID</td>
                                                    <td>Date</td>
                                                    <td>Start</td>
                                                    <td>End</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Chop</td>
                                                    <td>Start Price</td>
                                                    <td>Curr</td>
                                                    <td>Bid</td>
                                                    <td>Last Price</td>
                                                    <td>Buyer</td>
                                                </tr>


                                            </tbody>

                                        </table>

                                    </div>
                                    <div class="top-bar valign-wrapper">
                                        <div class="circles">
                                            <a class=" cyan-text" href="javascript:void(0)" >
                                                <i class="mdi-action-open-in-browser"></i>
                                            </a>
                                            <a class=" cyan-text" href="javascript:void(0)" >
                                                Coming Auctions
                                            </a>
                                        </div>
                                    </div>
                                    <div class="content">

                                        <table id="data-table-simple4" class="display dataTable" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Seller</th>
                                                    <th>Status</th>
                                                    <th>Auction ID</th>
                                                    <th>Date</th>
                                                    <th>Start</th>
                                                    <th>End</th>
                                                    <th>Grade</th>
                                                    <th>Estate</th>
                                                    <th>Chop</th>
                                                    <th>Start Price</th>
                                                    <th>Curr</th>
                                                    <th>Bid</th>
                                                    <th>Last Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Auction ID</td>
                                                    <td>Date</td>
                                                    <td>Start</td>
                                                    <td>End</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Chop</td>
                                                    <td>Start Price</td>
                                                    <td>Curr</td>
                                                    <td>Bid</td>
                                                    <td>Last Price</td>
                                                </tr>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Auction ID</td>
                                                    <td>Date</td>
                                                    <td>Start</td>
                                                    <td>End</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Chop</td>
                                                    <td>Start Price</td>
                                                    <td>Curr</td>
                                                    <td>Bid</td>
                                                    <td>Last Price</td>
                                                </tr>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Auction ID</td>
                                                    <td>Date</td>
                                                    <td>Start</td>
                                                    <td>End</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Chop</td>
                                                    <td>Start Price</td>
                                                    <td>Curr</td>
                                                    <td>Bid</td>
                                                    <td>Last Price</td>
                                                </tr>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Auction ID</td>
                                                    <td>Date</td>
                                                    <td>Start</td>
                                                    <td>End</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Chop</td>
                                                    <td>Start Price</td>
                                                    <td>Curr</td>
                                                    <td>Bid</td>
                                                    <td>Last Price</td>
                                                </tr>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Auction ID</td>
                                                    <td>Date</td>
                                                    <td>Start</td>
                                                    <td>End</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Chop</td>
                                                    <td>Start Price</td>
                                                    <td>Curr</td>
                                                    <td>Bid</td>
                                                    <td>Last Price</td>
                                                </tr>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Auction ID</td>
                                                    <td>Date</td>
                                                    <td>Start</td>
                                                    <td>End</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Chop</td>
                                                    <td>Start Price</td>
                                                    <td>Curr</td>
                                                    <td>Bid</td>
                                                    <td>Last Price</td>
                                                </tr>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Auction ID</td>
                                                    <td>Date</td>
                                                    <td>Start</td>
                                                    <td>End</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Chop</td>
                                                    <td>Start Price</td>
                                                    <td>Curr</td>
                                                    <td>Bid</td>
                                                    <td>Last Price</td>
                                                </tr>
                                            </tbody>

                                        </table>

                                    </div>
                                    <div class="top-bar valign-wrapper">
                                        <div class="circles">
                                            <a class=" cyan-text" href="javascript:void(0)" >
                                                <i class="mdi-action-list"></i>
                                            </a>
                                            <a class=" cyan-text" href="javascript:void(0)" >
                                                Negotiations
                                            </a>
                                        </div>
                                    </div>
                                    <div class="content">

                                        <table id="data-table-simple5" class="display dataTable" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Seller</th>
                                                    <th>Status</th>
                                                    <th>Nego ID</th>
                                                    <th>Date Delivery</th>
                                                    <th>Buy/Sell</th>
                                                    <th>Grade</th>
                                                    <th>Estate</th>
                                                    <th>Sacks</th>
                                                    <th>Warehouse</th>
                                                    <th>Start Price</th>
                                                    <th>Buyer</th>
                                                    <th>Confirm By Seller</th>
                                                    <th>Confirm By Buyer</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Nego ID</td>
                                                    <td>Date Delivery</td>
                                                    <td>Buy/Sell</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Sacks</td>
                                                    <td>Warehouse</td>
                                                    <td>Start Price</td>
                                                    <td>Buyer</td>
                                                    <td>Confirm By Seller</td>
                                                    <td>Confirm By Buyer</td>
                                                </tr>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Nego ID</td>
                                                    <td>Date Delivery</td>
                                                    <td>Buy/Sell</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Sacks</td>
                                                    <td>Warehouse</td>
                                                    <td>Start Price</td>
                                                    <td>Buyer</td>
                                                    <td>Confirm By Seller</td>
                                                    <td>Confirm By Buyer</td>
                                                </tr>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Nego ID</td>
                                                    <td>Date Delivery</td>
                                                    <td>Buy/Sell</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Sacks</td>
                                                    <td>Warehouse</td>
                                                    <td>Start Price</td>
                                                    <td>Buyer</td>
                                                    <td>Confirm By Seller</td>
                                                    <td>Confirm By Buyer</td>
                                                </tr>
                                                <tr>
                                                    <td>Seller</td>
                                                    <td>Status</td>
                                                    <td>Nego ID</td>
                                                    <td>Date Delivery</td>
                                                    <td>Buy/Sell</td>
                                                    <td>Grade</td>
                                                    <td>Estate</td>
                                                    <td>Sacks</td>
                                                    <td>Warehouse</td>
                                                    <td>Start Price</td>
                                                    <td>Buyer</td>
                                                    <td>Confirm By Seller</td>
                                                    <td>Confirm By Buyer</td>
                                                </tr>
                                            </tbody>

                                        </table>

                                    </div>
                                </div>

                            </div>
                             <div class="col s12 m3 l3">
                                <div class="browser-window">
                                    <div class="top-bar valign-wrapper">
                                        <div class="circles">
                                            <a class=" cyan-text" href="javascript:void(0)" >
                                                <i class="mdi-content-flag"></i>
                                            </a>
                                            <a class=" cyan-text" href="javascript:void(0)" >
                                                Bids Auction
                                            </a>
                                        </div>
                                    </div>
                                    <div class="content">

                                        <table id="data-table-simple2" class="display dataTable" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Time</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr>
                                                <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr>
                                                <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr>
                                                <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr>
                                                <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr>
                                                 <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr> <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr> <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr> <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr> <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr> <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr> <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr> <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr> <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr> <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr> <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr> <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr> <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr> <tr>
                                                    <td>Time</td>
                                                    <td>Price</td>
                                                </tr>
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                    <!--end container-->
                </section>
                <!-- END CONTENT -->


            </div>
            <!-- END WRAPPER -->

        </div>
        <!-- END MAIN -->



        <!-- //////////////////////////////////////////////////////////////////////////// -->

        <!-- START FOOTER -->
        <footer class="page-footer">
            <div class="container">
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Copyright © 2018 <a class="grey-text text-lighten-4" href="#" target="_blank">MSM</a> All rights reserved.
                    <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="#">PT.Murfa Surya Mahardika</a></span>
                </div>
            </div>
        </footer>
        <!-- END FOOTER -->


        <!-- ================================================
        Scripts
        ================================================ -->

        <!-- jQuery Library -->
        <script th:src="@{/materialize/js/jquery-1.11.2.min.js}" type="text/javascript" src="js/jquery-1.11.2.min.js"></script>    
        <!--materialize js-->
        <script th:src="@{/materialize/js/materialize.js}"  type="text/javascript" src="js/materialize.js"></script>
        <!--scrollbar-->
        <script th:src="@{/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"  type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script th:src="@{/materialize/js/plugins/data-tables/js/jquery.dataTables.min.js}"  type="text/javascript" src="js/plugins/data-tables/js/jquery.dataTables.min.js"></script>
        <script th:src="@{/materialize/js/plugins/data-tables/data-tables-script.js}" type="text/javascript" src="js/plugins/data-tables/data-tables-script.js"></script>
        <script th:src="@{/materialize/js/plugins.js}" type="text/javascript" src="js/plugins.js"></script>
    </body>
</html>