<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Layout</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <style>
        body {
            padding-top: 50px;
        }
    </style>
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Common Navigation Bar</a>
        </div>
    </div>
</nav>
    <script src="http://cdn.jsdelivr.net/webjars/angularjs/1.3.8/angular.min.js" th:src="@{/webjars/angularjs/1.3.8/angular.min.js}"></script>
<div class="container">
    <div layout:fragment="content"></div>
</div>
</body>
 
</html>