<div class="browser-window" style="margin-top:0px">
    <div class="top-bar valign-wrapper">
        <div class="circles valign-wrapper">
            <a class=" cyan-text" href="javascript:void(0)" >
               Negotiation History
            </a>
        </div>
    </div>
    <div class="content contenttable">
        <table id="data-table-nego" class="display dataTable" cellspacing="0">
            <thead>
                <tr>
                    <th>Date Nego</th>
                    <th>Date Deliver</th>
                    <th>Seller</th>
                    <th>Buyer</th>
                    <th>Nego ID</th>
                    <th>B/S</th>
                    <th>Grade</th>
                    <th>Estate</th>
                    <th>Vol(Kg)</th>
                    <th>Price</th>
                    <th>Curr</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
                <tr>
                    <td>Date Nego</td>
                    <td>Date Deliver</td>
                    <td>Seller</td>
                    <td>Buyer</td>
                    <td>Nego ID</td>
                    <td>B/S</td>
                    <td>Grade</td>
                    <td>Estate</td>
                    <td>Vol(Kg)</td>
                    <td>Price</td>
                    <td>Curr</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<script>
    $(document).ready(function(){
         $('#data-table-nego').DataTable({
            "scrollY"       : "200px",
            "scrollX"       : true,
            "searching"     : false,
            "bInfo"         : false,
            "scrollCollapse": true,
            "paging"        : false
        });
      });
</script>
